bucket         = "replace-with-your-tfstate-bucket"
key            = "networking/ireland-vpc/terraform.tfstate"
region         = "eu-west-1"
dynamodb_table = "replace-with-your-terraform-lock-table"
encrypt        = true
